<div class="container">
  <div class="container box">
    <h2> <i class="bi bi-lock-fill"></i>Login As</h2>

    <button class="bnt" (click)="changeLoginType('student')">Student</button>
    <button class="bnt" (click)="changeLoginType('instructor')">Instructor</button>
    <div *ngIf="loginType === 'student'">
      <!-- Student login form -->
      <form [formGroup]="studentLoginForm">
        <input class="input" type="text" placeholder="UserName" />
        <input
          class="input"
          type="password"
          placeholder="Password"
          name=""
          id=""
        />
        <button
          class="btn btn-success button"
          [routerLink]="['/landing']"
          [routerLinkActive]="'active'"
          type="button"
        >
          <span> Login </span>
        </button>
      </form>
    </div>

    <div *ngIf="loginType === 'instructor'">
      <!-- Instructor login form -->
      <form [formGroup]="instructorLoginForm">
        <input class="input" type="text" placeholder="Instructor" />
        <input
          class="input"
          type="password"
          placeholder="Password"
          name=""
          id=""
        />
        <button
          class="button"
          [routerLink]="['/landing']"
          [routerLinkActive]="'active'"
          type="button"
        >
          <span> Login </span>
        </button>
      </form>
    </div>
  </div>

  <!-- <div
    _ngcontent-c2=""
    aria-label="Large button group"
    class="m-btn-group m-btn-group--pill btn-group m-btn-group m-btn-group--pill btn-group-lg"
    role="group"
  >
    <button _ngcontent-c2="" class="m-btn btn btn-primary" type="button">
      Student
    </button>
    <button
      _ngcontent-c2=""
      class="m-btn btn btn-outline-primary"
      type="button"
    >
      Applicant
    </button>
  </div> -->
</div>
