
.student-record{
    
    padding:16px;
margin-left: 250px;

&__record-table{
border: 1px solid blue;
}

&.sidebarExpanded{
    margin-left: 250px;
}
}

.link{
    text-decoration: none;
    color: black;
}

form{
    left: 200px;
}

.detail{
    margin: 0px;
    font-size: 20px;
    margin-right:30%;
    font-weight: 700;
}

.table{
    margin-top: 20px;
    margin-bottom: 20px;
}
.score1{
    height: 350px;
    width: 700px;
    border: 1px solid blue;
    margin: 10px;
    border-radius: 10px;
   
}
.score2{
    height: 200px;
    width: 500px;
    border: 1px solid blue;
    margin: 10px;
    border-radius: 10px;
   
}

.score3{
    height: 200px;
    width: 500px;
    border: 1px solid blue;
    margin: 10px;
    border-radius: 10px;
   
}

.score4{
    height: 200px;
    width: 500px;
    border: 1px solid blue;
    margin: 15px;
    border-radius: 10px;
   
}
