<div class="student-record">
  <h2>Welcome User, </h2>
  <div class="container-fluid row ">

    <div class="container col score2">
      <span class="detail">Assignment</span>
      <a class="link" href="#">View Details</a>
      <table class="table">
        <tr>
          <th style="font-size: 30px">Present</th>
          <th style="font-size: 30px">Late</th>
          <th style="font-size: 30px">Absent</th>
        </tr>

        <tr>
          <td style="color: green; font-size: 40px">25</td>
          <td style="color: rgb(165, 165, 26); font-size: 40px">2</td>
          <td style="color: red; font-size: 40px">3</td>
        </tr>
      </table>
    </div>
    <div class="container col score1">
      <span class="detail">Timetable</span>
      <a class="link" href="#">View Details</a>
      
      <table class="table">
        <tr>
          <th style="font-size: 30px">Course Title</th>
          <th style="font-size: 30px">Course Code</th>
          <th style="font-size: 30px">Day</th>
          <th style="font-size: 30px">Time</th>
        </tr>

        <tr>
          <td>English</td>
          <td>Gns 101</td>
          <td>Monday</td>
          <td>8am</td>
        </tr>
        <tr>
          <td>Mathematics</td>
          <td>Mth 111</td>
          <td>Monday</td>
          <td>10am</td>
        </tr>
        <tr>
          <td>Java</td>
          <td>Com 105</td>
          <td>Monday</td>
          <td>8am</td>
        </tr>
        <tr>
          <td>Libray</td>
          <td>Lib 102</td>
          <td>Wednesday</td>
          <td>10am</td>
        </tr>
        <tr>
          <td>Citizenship</td>
          <td>Gns 105</td>
          <td>Thursday</td>
          <td>8am</td>
        </tr>
      </table>
    </div>
    <div class="container col score2">
      <span class="detail">Assignment</span>
      <a class="link" href="#">View Details</a>
      <table class="table">
        <tr>
          <th style="font-size: 30px">Present</th>
          <th style="font-size: 30px">Late</th>
          <th style="font-size: 30px">Absent</th>
        </tr>

        <tr>
          <td style="color: green; font-size: 40px">25</td>
          <td style="color: rgb(165, 165, 26); font-size: 40px">2</td>
          <td style="color: red; font-size: 40px">3</td>
        </tr>
      </table>
    </div>
  </div>
  <div class="container col score3">
    <span class="detail">Assignment</span>
    <a class="link" href="#">View Details</a>
    <table class="table">
      <tr>
        <th style="font-size: 30px">Java</th>
        <th style="font-size: 30px">Mathematics</th>
        <th style="font-size: 30px">Libray</th>
      </tr>

      <tr>
        <td>Submitted</td>
        <td>Not Submitted</td>
        <td>Submitted</td>
      </tr>
    </table>
  </div>
    <div class="container-fluid row">
    <div class="container col score3">
      <span class="detail">Assignment</span>
      <a class="link" href="#">View Details</a>
      <table class="table">
        <tr>
          <th style="font-size: 30px">Java</th>
          <th style="font-size: 30px">Mathematics</th>
          <th style="font-size: 30px">Libray</th>
        </tr>

        <tr>
          <td>Submitted</td>
          <td>Not Submitted</td>
          <td>Submitted</td>
        </tr>
      </table>
    </div>

    <div class="container-fluid col score4">
      <span class="detail">Exam Timetable</span>
      <a class="link" href="#">View Details</a>
      <table class="table">
        <tr>
          <th style="font-size: 20px">Exam Type</th>
          <th style="font-size: 20px">Exam Commence Date</th>
          <th style="font-size: 20px">Exam End Date</th>
        </tr>

        <tr>
          <td>Mid Semester Test</td>
          <td>May 20</td>
          <td>May 27</td>
        </tr>
      </table>
    </div>
  </div>

</div>
